rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /tasks/{userId}/items/{taskId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
